admins:
    - 321339498585915403
    - 234222835021774849
server_admins:
    - 310087032091443200
mod_admins:
    - 0
uploaders:
    - 321339498585915403
    - 234222835021774849
    - 310087032091443200
    - 378274239628967938
    - 205456992897204233
directory: "{{ conf.directory }}"
server_dir: "{{ conf.server_dir }}"
scripts_dir: "{{ conf.scripts_dir }}"
steamcmd: "{{ conf.steamcmd }}"
steam_user: "{{ conf.steam_user }}"
steam_pass: "{{ conf.steam_pass }}"
uid: {{ conf.uid }}
gid: {{ conf.gid }}
discord_token: "{{ conf.discord_token }}"
discord_channel: "{{ conf.discord_channel }}"
